.header{
    background-color: #222;
    color: #fff;
    padding: 18px 0;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-item{
    margin-right: 33px;

    &:last-child{
        margin-right: 33px;
    }
   
}

.header-button{
    background-color: inherit;
    border: none;
}

.header-logo{
   margin-right: 41px; 
}

.header-logo img{
    // transition: all 0.5s;    
      
   &:hover{
    animation: rotate-center 0.6s ease-in-out both;
   }
}

@keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  