.header{
    background-color: #222;
    color: #fff;
    padding: 18px 0;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-item{
    margin-right: 33px;
   
}

.header-button{
    background-color: inherit;
    border: none;
}

.header-logo{
   margin-right: 41px; 
}