.promo{
    background-color: #F1E4E6;
} 

.promo-wrap{
    height: 764px;
    background-image: url(../images/promo-man.png);
    background-repeat: no-repeat;
    background-position-x: -225px;
    background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.promo-title{
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    border-left: 12px solid $color-add;
    padding-left: 16px; 
    margin-right: 100px;
}

.promo-text{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.promo-text-pink{
    color: $color-add;
}