.registration-info{
    display: flex;
    justify-content: space-between;
    margin: 64px 0 96px 0;
}

.registration-form{
    width: 25%;
}

.registration-text{
    width: 58%;
    font-weight: 300;
    @include title-h2;
}

.registration-text-title{
    @include title-h2;
}

.registration-text-main{
    margin-top: 22px;
}

.registration-text-list{
    margin-top: 21px;
    list-style-type: none;
}

.registration-text-list-item{
    margin-bottom: 16px;
    padding-left: 43px;
   

    &:before{
        content: '';
        display: inline-block;
        width: 20px;
        height: 16px;
        margin-right: 22px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/check-icon.svg);
    }
}

.registration-form {
    display: flex;
    flex-direction: column;
  }

.registration-form-title{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 21px;
}
  
.registration-form-field {
    width: 360px;
    font-family:inherit;
      padding: 15px;
      margin-bottom: 21px;
      border: 1px solid #A4A4A4;

      &-last{
          margin-bottom: 15px;
      }
        }
  
.registration-form-field::placeholder {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
  }

.registration-radio{
    margin: 31px 0;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.registration-form-text{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-bottom: 39px;
    width: 369px;
}
  
.registration-form-button {
    font-family:inherit;
      padding: 15px 30px;
      background-color: #F16D7F;
      border: none;
      color: #fff;
      transition: all 0.3s;

    &:hover{
        outline: none;
        background-color: $color-add;
        color: #fff;
        transform: scale(1.2);
        }
  }
