.upper-title-box{
    padding: 60px 0;
    background-color: #F8F3F4;

    @media (max-width: $df-mobile) {
    text-align: center;    
  }
}

.upper-title{
    color: $color-add;
    @include title-h2;
    text-transform: uppercase; 
}

.upper-wrap{ 
    @include flex-between;

    @media (max-width: $df-mobile) {
     flex-direction: column;
     align-items: center;
  }
}


/* BREADCRUMBS */

.breadcrumbs{
  @media (max-width: $df-mobile) {
   margin-top: 32px;
}
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 5px;
  display: flex;
}

.breadcrumbs-item::before {
  content: '/';
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  transition: all 0.3s;

  &:hover{
    color: $color-add;
  }
}

.breadcrumbs-link-current {
  font-weight: bold;
  color: $color-add;
}