html, body{
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, ul, p{
    margin: 0;
    padding: 0;
}

.main{
    flex-grow: 2;
}

.wrap{
    max-width: 1140px; 
    min-width: 360px; 
    margin: 0 auto;
    padding: 0 16px;

    @media (max-width: $df-mobile) {
        padding: 0 8px;
    }
}


.visually-hidden {
    position: fixed;
    transform: scale(0);
  }
