@charset "UTF-8";
html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, ul, p {
  margin: 0;
  padding: 0;
}

.main {
  flex-grow: 2;
}

.wrap {
  max-width: 1140px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (max-width: 767px) {
  .wrap {
    padding: 0 8px;
  }
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

button {
  all: unset;
}

.header {
  background-color: #222;
  color: #fff;
  padding: 18px 0;
  position: relative;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-item {
  margin-right: 33px;
}
.header-nav-item:last-child {
  margin-right: 33px;
}

.header-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.header-logo {
  text-decoration: none;
  margin-right: 41px;
}

.header-logo img:hover {
  animation: rotate-center 0.6s ease-in-out both;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-nav {
  position: absolute;
  background-color: #fff;
  right: 0;
  top: 77px;
  width: 232px;
  padding: 33px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-sizing: border-box;
  z-index: 1000;
}

.main-nav-max {
  display: none;
}
@media (max-width: 1179px) {
  .main-nav-max {
    display: none;
  }
}

.main-nav-closed {
  display: none;
}

.main-nav-min {
  width: 150px;
  height: 200px;
  display: none;
}
@media (max-width: 1179px) {
  .main-nav-min {
    display: block;
  }
}

.main-nav-box {
  position: relative;
}

.main-nav-close {
  position: absolute;
  top: -16px;
  right: -16px;
  background-image: url(/images/close-icon.svg);
  width: 13px;
  height: 13px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.main-nav-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.main-nav-list {
  list-style-type: none;
}

.submenu-list {
  list-style-type: none;
}

.submenu-item {
  margin: 11px 21px;
}

.main-nav-item {
  margin-top: 20px;
}

.main-nav-link {
  text-decoration: none;
  color: #F16D7F;
  text-transform: uppercase;
}

.submenu-item-link {
  text-decoration: none;
  color: #6F6E6E;
}

/* счетчик корзины */
#lblCartCount {
  font-size: 12px;
  background: #F16D7F;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

.cart-badge {
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 9px;
}

.promo {
  background-color: #F1E4E6;
}

.promo-wrap {
  min-height: 764px;
  background-image: url(../images/promo-man.png);
  background-repeat: no-repeat;
  background-position-x: -225px;
  background-position-y: bottom;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1179px) {
  .promo-wrap {
    min-height: 368px;
    background-size: 50%;
    background-position: 0 0;
  }
}
@media (max-width: 767px) {
  .promo-wrap {
    background-image: none;
  }
}

.promo-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-right: 100px;
}
@media (max-width: 1179px) {
  .promo-title {
    font-size: 44px;
    line-height: 53px;
  }
}
@media (max-width: 767px) {
  .promo-title {
    padding-left: 0px;
    width: 100%;
    text-align: center;
    font-size: 38px;
    line-height: 46px;
    border-left: none;
  }
}

.promo-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
@media (max-width: 1179px) {
  .promo-text {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 767px) {
  .promo-text {
    font-size: 20px;
    line-height: 24px;
  }
}

.promo-text-pink {
  color: #F16D7F;
}

/* CATEGORIES */
.categories {
  margin-top: 65px;
}

.categories-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}
@media (max-width: 767px) {
  .categories-list {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.category-item {
  background-color: #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.category-item:not(:last-child) {
  width: 32%;
  min-height: 260px;
}
@media (max-width: 1179px) {
  .category-item:not(:last-child) {
    min-height: 168px;
  }
}
@media (max-width: 767px) {
  .category-item:not(:last-child) {
    width: 343px;
    min-height: 247px;
  }
}

.category-item:last-child {
  width: 100%;
  min-height: 180px;
  margin-top: 30px;
}
@media (max-width: 1179px) {
  .category-item:last-child {
    min-height: 116px;
  }
}
@media (max-width: 767px) {
  .category-item:last-child {
    min-height: 111px;
    width: 343px;
    margin-top: 0;
  }
}

.category-woman {
  background-image: url(../images/category-woman.png);
}

.category-man {
  background-image: url(../images/category-man.png);
}

.category-kid {
  background-image: url(../images/category-kid.png);
}

.category-acc {
  background-image: url(../images/category-acc.png);
}

.category-link {
  text-decoration: none;
  color: #fff;
  text-align: center;
  z-index: 100;
  text-transform: uppercase;
}

.category-text-white {
  font-size: 16px;
  line-height: 19px;
}

.category-text-pink {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FF6A6A;
}

.category-overlay {
  position: absolute;
  width: 100%;
  min-height: 260px;
  background-color: rgba(58, 56, 56, 0.8588235294);
  transition: all 0.5s;
}
@media (max-width: 1179px) {
  .category-overlay {
    min-height: 168px;
  }
}
@media (max-width: 767px) {
  .category-overlay {
    min-height: 247px;
  }
}
.category-overlay:hover {
  opacity: 0;
}
.category-overlay-max {
  width: 100%;
  min-height: 180px;
}
@media (max-width: 1179px) {
  .category-overlay-max {
    min-height: 116px;
  }
}
@media (max-width: 767px) {
  .category-overlay-max {
    min-height: none;
  }
}

/* FEATURED */
.featured-title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.featured-text {
  margin-top: 6px;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}

.goods {
  margin: 95px 0;
}
@media (max-width: 1179px) {
  .goods {
    margin: 155px 0 65px 0;
  }
}
@media (max-width: 767px) {
  .goods {
    margin: 65px 0 96px 0;
  }
}

.goods-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.featured-text {
  margin-top: 6px;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}

.goods-list {
  margin: 48px 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 1179px) {
  .goods-list {
    margin: 72px 0 32px 0;
    justify-content: center;
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .goods-list {
    margin: 64px 0 41px 0;
    flex-direction: column;
    align-items: center;
  }
}

.goods-item {
  width: 360px;
  min-height: 580px;
  background-color: #F8F8F8;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.goods-info {
  margin: 25px 18px;
}

.goods-card-title {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.goods-card-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-top: 12px;
}

.goods-card-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-top: 18px;
}

.goods-item:hover .goods-overlay {
  transform: scale(1);
}

.goods-overlay {
  position: absolute;
  width: 360px;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.86);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.3s;
}

.add-btn {
  background-color: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
  padding: 13px;
  color: #fff;
  outline: 1px solid #FFFFFF;
  transition: all 0.3s;
}
.add-btn:hover {
  transform: scale(1.1);
}

.add-btn img {
  vertical-align: middle;
  margin-right: 11px;
  font-size: 14px;
  line-height: 17px;
}

/* ADVANTAGES */
.advantages {
  background-color: #222;
  color: #fff;
  padding: 100px 0;
}

.advantage-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  color: #FBFBFB;
  text-align: center;
}
@media (max-width: 1179px) {
  .advantage-list {
    flex-direction: column;
    align-items: center;
    gap: 46px;
  }
}

@media (max-width: 1179px) {
  .advantage-item {
    width: 360px;
  }
}

.advantage-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  margin-top: 28px;
}

.advantage-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 16px;
}

/* FEEDBACK */
.feedback {
  background-color: #e1e1e1;
  background-image: url(../images/feedback-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding: 85px 0 126px 0;
}

.feedback-wrap {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1179px) {
  .feedback-wrap {
    flex-direction: column;
  }
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  width: 360px;
  margin-top: 30px;
}

.review-decor {
  font-style: italic;
}

@media (max-width: 1179px) {
  .subscribe {
    margin-top: 48px;
  }
}
@media (max-width: 767px) {
  .subscribe {
    margin-top: 59px;
  }
}

.subscribe-title {
  padding-bottom: 32px;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.subscribe-decor {
  font-size: 18px;
  line-height: 30px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.form-field {
  font-family: inherit;
  padding: 18px 23px;
  background-color: rgba(244, 244, 244, 0.6980392157);
  border: none;
  border-radius: 20px 0 0 20px;
  color: #222;
  background-color: #E1E1E1;
}

.form-field::placeholder {
  color: #222224;
  font-size: 14px;
  line-height: 17px;
}

.form-button {
  font-family: inherit;
  padding: 18px 23px;
  background-color: #F16D7F;
  border: none;
  border-radius: 0 20px 20px 0;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}
.form-button:hover {
  outline: none;
  color: #fff;
  background-color: #E05C6E;
}

/* FOOTER */
.footer {
  background-color: #222;
  color: #fff;
  padding: 23px 0;
}
@media (max-width: 767px) {
  .footer {
    padding: 9px 0;
  }
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .footer-wrap {
    flex-direction: column-reverse;
  }
}

.footer-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 7px;
}
@media (max-width: 767px) {
  .footer-list {
    margin: 35px;
  }
}

.footer-link {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  background-color: #fff;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.footer-link:hover {
  color: #fff;
  background-color: #F16D7F;
}

.registration-info {
  display: flex;
  justify-content: space-between;
  margin: 64px 0 96px 0;
}
@media (max-width: 1179px) {
  .registration-info {
    margin: 40px 0 113px 0;
  }
}
@media (max-width: 767px) {
  .registration-info {
    flex-direction: column;
    margin: 40px 0 100px 0;
  }
}

.registration-form {
  width: 25%;
}

.registration-text {
  width: 58%;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 1179px) {
  .registration-text {
    width: 50%;
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 767px) {
  .registration-text {
    margin-top: 40px;
    width: 100%;
  }
}

.registration-text-title {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}
@media (max-width: 1179px) {
  .registration-text-title {
    font-size: 16px;
    line-height: 19px;
  }
}

.registration-text-main {
  margin-top: 22px;
}

.registration-text-list {
  margin-top: 21px;
  list-style-type: none;
}

.registration-text-list-item {
  margin-bottom: 16px;
}
.registration-text-list-item:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 16px;
  margin-right: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/check-icon.svg);
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 21px;
}

.registration-form-field {
  width: 360px;
  font-family: inherit;
  padding: 15px;
  margin-bottom: 21px;
  border: 1px solid #A4A4A4;
}
.registration-form-field-last {
  margin-bottom: 15px;
}

.registration-form-field::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-radio {
  margin: 31px 0;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  width: 100%;
}

.registration-form-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 39px;
  width: 369px;
}

.registration-form-button {
  font-family: inherit;
  width: 167px;
  padding: 15px 30px;
  background-color: #F16D7F;
  border: none;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  text-transform: uppercase;
}
.registration-form-button:hover {
  outline: none;
  background-color: #F16D7F;
  color: #fff;
  transform: scale(1.2);
}

.upper-title-box {
  padding: 60px 0;
  background-color: #F8F3F4;
}
@media (max-width: 767px) {
  .upper-title-box {
    text-align: center;
  }
}

.upper-title {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.upper-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .upper-wrap {
    flex-direction: column;
    align-items: center;
  }
}

/* BREADCRUMBS */
@media (max-width: 767px) {
  .breadcrumbs {
    margin-top: 32px;
  }
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 5px;
  display: flex;
}

.breadcrumbs-item::before {
  display: inline-block;
  margin: 0 0.25em;
  transform: rotate(15deg);
  border-right: 0.1em solid currentcolor;
  height: 0.7em;
  content: "";
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  transition: all 0.3s;
}
.breadcrumbs-link:hover {
  color: #F16D7F;
}

.breadcrumbs-link-current {
  font-weight: bold;
  color: #F16D7F;
}

.catalog-goods {
  margin-top: 51px;
}
@media (max-width: 1179px) {
  .catalog-goods {
    margin: 24px;
  }
}

.filter-wrap {
  display: flex;
  justify-content: flex-start;
}

.filter {
  display: block;
  background-color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-left: 16px;
  margin-top: 13px;
  transition: all 0.3s;
}
@media (max-width: 1179px) {
  .filter {
    margin-left: 0;
  }
}
.filter:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 10px;
  margin-left: 11px;
  background-image: url(../images/filter-icon.svg);
  background-repeat: no-repeat;
}
.filter:hover {
  color: #F16D7F;
}

.filter-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  gap: 20px;
}
@media (max-width: 1179px) {
  .filter-list {
    width: 100%;
    justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  .filter-list {
    justify-content: space-around;
  }
}

.filter-item {
  width: 25%;
}
@media (max-width: 767px) {
  .filter-item {
    font-size: 10px;
  }
}

.filter-button {
  background-color: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
  color: #6F6E6E;
  text-transform: uppercase;
  transition: all 0.3s;
  position: absolute;
}
.filter-button:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 5px;
  margin-left: 10px;
  background-image: url(../images/filter-arrow.svg);
  background-repeat: no-repeat;
}
.filter-button:hover {
  color: #F16D7F;
}

::-webkit-details-marker {
  display: none;
}

.filter-dropdown {
  position: relative;
  width: 25%;
}

.filter-drop {
  position: absolute;
  background-color: #fff;
  width: 360px;
  padding: 18px 0;
  margin-top: 10px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 110;
}

.filter-dropdown-main {
  margin: 0 15px;
}
.filter-dropdown-main[open] .filter-dropdown-title {
  color: #EF5B70;
}

.filter-dropdown-title {
  display: block;
  color: #6F6E6E;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  margin-top: 18px;
  padding: 10px;
  outline: none;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.filter-dropdown-title-first {
  margin-top: 0;
}

.filter-dropdown-list {
  margin-left: 20px;
  margin-top: 24px;
  list-style-type: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter-dropdown-item {
  margin-bottom: 11px;
}

.filter-more-title {
  display: block;
}

.filter-more-list {
  margin-top: 23px;
  list-style-type: none;
  position: absolute;
  padding: 7px;
  background-color: #fff;
  width: 79px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 110;
  box-sizing: border-box;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price-range {
  width: 25%;
  background-color: #fff;
}

.open-catalog-link {
  font-family: inherit;
  padding: 14px 38px;
  border: none;
  outline: 1px solid #FF6A6A;
  color: #FF6A6A;
  background-color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  transition: all 0.3s;
}
.open-catalog-link:hover {
  outline: none;
  background-color: #F16D7F;
  color: #fff;
  transform: scale(1.2);
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
  border: 1px solid #EBEBEB;
  padding: 11px;
}

.arrow-pagination {
  cursor: pointer;
  width: 8px;
  height: 20px;
  border: none;
  background-color: #C4C4C4;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
}
.arrow-pagination-last {
  padding-top: 20px;
  transform: rotate(180deg);
}

.pagination-item--separator {
  margin: 0 -10px;
  color: #C4C4C4;
}

.pagination-link {
  color: #C4C4C4;
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.pagination-link:hover {
  color: #EF5B70;
}

.pagination-link-active {
  color: #EF5B70;
}

.cart-wrap {
  margin: 96px auto 128px auto;
}
@media (max-width: 1179px) {
  .cart-wrap {
    margin: 59px auto 147px auto;
  }
}
@media (max-width: 767px) {
  .cart-wrap {
    margin: 39px auto 96px auto;
  }
}

.cart-container {
  display: grid;
  grid-template-columns: 7fr 1fr 4fr;
  grid-template-rows: 45fr 40fr 15fr;
}
@media (max-width: 1179px) {
  .cart-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45fr 15fr 40fr;
  }
}
@media (max-width: 767px) {
  .cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card-list {
  grid-column: 1/1;
  grid-row: 1/span 2;
  min-width: 360px;
  list-style-type: none;
}
@media (max-width: 1179px) {
  .card-list {
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    margin: 0 auto;
  }
}

.card-item {
  position: relative;
  height: 306px;
  width: 612px;
  display: grid;
  grid-template-columns: 3fr 4fr;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.card-item:not(:first-child) {
  margin-top: 40px;
}
@media (max-width: 767px) {
  .card-item {
    height: 189px;
    width: 349px;
  }
}

.card-close {
  position: absolute;
  top: 28px;
  right: 24px;
  background-image: url(/images/close-icon.svg);
  width: 13px;
  height: 13px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
@media (max-width: 767px) {
  .card-close {
    top: 17px;
    right: 12px;
    width: 10px;
    height: 10px;
  }
}

.card-photo {
  width: 262px;
  height: 306px;
}
@media (max-width: 767px) {
  .card-photo {
    width: 143px;
    height: 188px;
  }
}

.card-info {
  padding: 22px 45px 22px 31px;
}
@media (max-width: 767px) {
  .card-info {
    padding: 13px 17px;
  }
}

.cart-info-title {
  width: 262px;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .cart-info-title {
    width: 143px;
    font-size: 16px;
    line-height: 19px;
  }
}

.cart-info-details {
  margin-top: 42px;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media (max-width: 767px) {
  .cart-info-details {
    margin-top: 25px;
    font-size: 14px;
    line-height: 17px;
    gap: 4px;
  }
}

.cart-info-highlight {
  color: #F16D7F;
}

.cart-input {
  width: 50px;
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 767px) {
  .cart-input {
    width: 30px;
    font-size: 10px;
    line-height: 12px;
  }
}

.cart-form {
  grid-column: 3/span 1;
  grid-row: 1/span 1;
  margin-top: 17px;
  width: 360px;
}
@media (max-width: 1179px) {
  .cart-form {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
    margin-top: 64px;
  }
}
@media (max-width: 767px) {
  .cart-form {
    margin-top: 48px;
  }
}

.cart-form-button {
  display: block;
  background-color: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: #4A4A4A;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  height: 34px;
  width: 100px;
  transition: all 0.3s;
}
.cart-form-button:hover {
  background-color: #A4A4A4;
  color: #fff;
}
@media (max-width: 767px) {
  .cart-form-button {
    font-weight: normal;
    text-transform: none;
  }
}

.cart-sum {
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  width: 360px;
  height: 214px;
  text-align: end;
  padding: 40px;
  background-color: #F5F3F3;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media (max-width: 1179px) {
  .cart-sum {
    grid-column: 2/span 1;
    grid-row: 3/span 1;
    margin-top: 103px;
    margin-left: 15px;
  }
}
@media (max-width: 767px) {
  .cart-sum {
    margin-top: 48px;
    margin-left: 0;
  }
}

.cart-sum-sub {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.cart-sum-sub-price {
  font-weight: 700;
  color: #F16D7F;
}

.cart-sum-total {
  margin-top: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart-line {
  height: 1px;
  width: 100%;
  background-color: #E2E2E2;
  margin: 21px 0 17px 0;
}

.cart-sum-btn {
  padding: 15px 41px;
  background-color: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}
.cart-sum-btn:hover {
  background-color: #E05C6E;
}

.cart-btns {
  grid-column: 1/2;
  grid-row: 3/3;
  margin-top: 72px;
  min-width: 360px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .cart-btns {
    margin-top: 30px;
  }
}
@media (max-width: 1179px) {
  .cart-btns {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
    margin-top: 62px;
  }
}

.cart-btn {
  padding: 16px 38px;
  background-color: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  max-height: 49px;
  min-width: 175px;
  transition: all 0.3s;
}
.cart-btn:hover {
  background-color: #A4A4A4;
  color: #fff;
}
@media (max-width: 767px) {
  .cart-btn {
    padding: 8px 17px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: none;
  }
}

.product-photo-wrap {
  height: 777px;
  display: flex;
  justify-content: center;
  position: relative;
  background: #F7F7F7;
  overflow: hidden;
}

.product-photo {
  max-width: 597px;
  max-height: 724px;
  margin: 11px auto 42px auto;
}
@media (max-width: 1179px) {
  .product-photo {
    max-width: 466px;
    max-height: 565px;
    margin: 30px 0;
  }
}
@media (max-width: 767px) {
  .product-photo {
    max-width: 374px;
    max-height: 454px;
    margin: 85px 0;
  }
}

.product-arrow {
  position: absolute;
  display: block;
  top: 365px;
  left: 0;
  width: 47px;
  height: 47px;
  background-image: url(../../images/product-arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 0.3s;
}
.product-arrow:hover {
  transform: scale(1.1);
}

.product-arrow-right {
  left: auto;
  right: 0;
  background-image: url(../../images/product-arrow-right.png);
  transition: transform 0.3s;
}
.product-arrow-right:hover {
  transform: scale(1.1);
}

.product-info {
  margin-top: -50px;
  padding: 65px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  max-width: 1140px;
  height: 600px;
  z-index: 100;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .product-info {
    padding: 65px 15px;
  }
}

.product-info-category {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.product-heading-line {
  margin: 12px auto 0;
  height: 3px;
  width: 63px;
  background-color: #EF5B70;
}

.product-info-heading {
  margin-top: 12px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
}

.product-info-text {
  margin: 48px auto 0;
  max-width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
}

.product-info-price {
  margin-top: 32px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  text-transform: uppercase;
}

.product-info-line {
  margin: 65px auto 0;
  border: 1px solid #EAEAEA;
  width: 641px;
}
@media (max-width: 767px) {
  .product-info-line {
    width: 174px;
  }
}

.product-info-details {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-filter-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
}
@media (max-width: 1179px) {
  .product-filter-list {
    width: 100%;
  }
}

.product-filter-item {
  width: 20%;
}
@media (max-width: 767px) {
  .product-filter-item {
    font-size: 10px;
  }
}

.product-btn {
  margin-top: 65px;
  width: 211px;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  outline: 1px solid #FF6A6A;
}

.product-goods {
  margin: 129px 0;
}
@media (max-width: 767px) {
  .product-goods {
    margin: 64px 0;
  }
}

/*# sourceMappingURL=style.css.map */
